.errorMessage {
  background-color: rgba(255, 108, 108, 0.2);
  color: rgb(255, 222, 222);
  padding: 1rem;
  border-radius: 0.2rem;
}
.warningMessage {
  background-color: rgba(255, 227, 18, 0.2);
  color: rgb(255, 255, 194);
  padding: 1rem;
  border-radius: 0.2rem;
}
.successMessage {
  background-color: rgba(61, 213, 109, 0.2);
  color: rgb(223, 253, 233);
  padding: 1rem;
  border-radius: 0.2rem;
}
.quizView {
  display: flex;
  justify-content: center;
  column-gap: 2.5rem;
  padding: 2.5rem 1rem 0;
}
.quizView > object {
  width: 100%;
  max-width: var(--max-content-width);
  min-width: 30rem;
}
