body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: rgb(14, 17, 23);
  color: rgb(250, 250, 250);
  line-height: 1.2rem;
  font-weight: 400;
  margin: auto;
  max-width: 40rem;
  padding-top: 4rem;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.8rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
h2 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.2rem;
}
h6 {
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
}
p {
  margin-bottom: 0.5rem;
}
